body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;

}

/*menu*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(000, 000, 88, 0.7);
   
  }
  
  .menu li {
    float: left;
    width:25%;
  }
  
  .menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu  a:hover {
    transition: 1s;
    background-color: rgba(000, 000, 88, 0.8);
    font-size: 20px;
    padding:10px;
  }

/*fim do menu*/
.noMeio {
    text-align: center  ;
}

/* pagina produtos*/
#categorias {
    float: left;
    width:24%;
   
}
#categorias .cateImp:hover{
background-color:aqua;
padding: 10px;
cursor: pointer;
}
#categorias .catePar:hover{
background-color:aquamarine;
padding: 10px; 
cursor: pointer; 
}
#categorias .categ:hover{
    background-color:rgba(000, 000, 88, 0.8);
    padding: 10px; 
    cursor: pointer;
    font-weight: bold; 
    color:white;
    
    }

#produtos{
    float: right;
    width:75%;
    text-align: center;
    

}
 .box-produto {
   
   position: relative;
   float: right;
    width: 25%;
    height: 250px;
  
    
 }

 .box-produto:hover
  {
   color: white;
  }

 .box-produto img {
     width:100px;
     height: 100px;
    
 }
 .box-produto img:hover {
    width:120px;
    height: 120px;
    cursor: pointer;
   
}

 .preco {
     color: red;
     background-color: white;
    
 }
/*fim pag prod*/

/*Pág de Lojas*/

.TabPLoja {
    width:100%;
    padding:20px;
    margin-top: 180px;
}

.TabPLoja tr {
    text-align: center;
}

.TabPLoja td {
    width:33%;

}
/*fim pág de lojas*/

/*Inicio - pág contatos*/
#contatos {
    display:flex;
    width:100%;
   justify-content: center;
   align-content: center;

}
.contato {
   display:flex;
   margin: 35px;
   border-bottom: 1px solid  rgba(000, 000, 88, 0.8);
   margin-bottom: 0px;
   align-content: center;
}

.contato img {
    width:30px;
    height: 30px;
    text-align: center;
    border: 4px solid rgba(000, 000, 88, 0.8);
   

}

#formulario {
    margin-top: 40px;
    text-align: center;
  
}

#formulario textarea {

    width:480px;
    height: 277px;
}

#botao {
    margin-top: 10px;
    padding:15px;
    margin-bottom: 2px;
}

/*fim - pág contatos*/

/*footer*/
#rodape{
   
    text-align: center; 
    clear: both;  
 
}

#rodape img {
    display:block;
    width:600px; 
    height:100px;
    margin: auto;

}